#image-0 {  background-image: url(https://natnatnat.imgix.net/2018/wedding/0.jpg?auto=format,compress); }
#image-5 {  background-image: url(https://natnatnat.imgix.net/2018/wedding/5.jpg?auto=format,compress); }
#image-4 {  background-image: url(https://natnatnat.imgix.net/2018/wedding/4.jpg?auto=format,compress); }
#image-3 {  background-image: url(https://natnatnat.imgix.net/2018/wedding/3.jpg?auto=format,compress); }
#image-6 {  background-image: url(https://natnatnat.imgix.net/2018/wedding/6.jpg?auto=format,compress); }
#image-12 { background-image: url(https://natnatnat.imgix.net/2018/wedding/12.jpg?auto=format,compress); }
#image-7 {  background-image: url(https://natnatnat.imgix.net/2018/wedding/7.jpg?auto=format,compress); }
#image-9 {  background-image: url(https://natnatnat.imgix.net/2018/wedding/9.jpg?auto=format,compress); }
#image-10 { background-image: url(https://natnatnat.imgix.net/2018/wedding/10.jpg?auto=format,compress); }
#image-11 { background-image: url(https://natnatnat.imgix.net/2018/wedding/11.jpg?auto=format,compress); }

a { -webkit-transition: color .4s; transition: color .4s; color: #265C83; }

a:link, a:visited { color: #265C83; }

a:hover { color: #7FDBFF; }

a:active { -webkit-transition: color .3s; transition: color .3s; color: #007BE6; }

.link { text-decoration: none; }

a.white {
  color: white;
}
