#image-0 {  background-image: url(/img/0.jpg); }
#image-5 {  background-image: url(/img/5.jpg); }
#image-4 {  background-image: url(/img/4.jpg); }
#image-3 {  background-image: url(/img/3.jpg); }
#image-6 {  background-image: url(/img/6.jpg); }
#image-12 { background-image: url(/img/12.jpg); }
#image-7 {  background-image: url(/img/7.jpg); }
#image-9 {  background-image: url(/img/9.jpg); }
#image-10 { background-image: url(/img/10.jpg); }
#image-11 { background-image: url(/img/11.jpg); }

a { -webkit-transition: color .4s; transition: color .4s; color: #265C83; }

a:link, a:visited { color: #265C83; }

a:hover { color: #7FDBFF; }

a:active { -webkit-transition: color .3s; transition: color .3s; color: #007BE6; }

.link { text-decoration: none; }

a.white {
  color: white;
}
